<div class="col-md-12">
    <div class="card">
        <div class="card-height-indicator"></div>
        <div class="card-content">
            <div class="card-body">
                <h2>General Release Statistics</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th>Hierarchy</th>
                                    <th class="text-right">Concepts</th>
                                    <th class="text-right">% of SCT</th>
                                    <th class="text-right">% SD <small>(*)</small></th>
                                    <th class="text-right">Descriptions</th>
                                    <th class="text-right">Relationships</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each rows}}
                                    <tr class="small">
                                        <td>{{term}}</td>
                                        <td class="text-right">{{Concepts}}</td>
                                        <td class="text-right">{{PercentOfTotal}}%</td>
                                        <td class="text-right">{{PercentOfSD}}%</td>
                                        <td class="text-right">{{Descriptions}}</td>
                                        <td class="text-right">{{Relationships}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">(*) Percentage of existing concepts in hierarchy which are Sufficiently Defined (SD). For the root concept the value includes all SNOMED CT.<br>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div><!-- /example -->
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <!--<button class="btn btn-flat">Share</button>-->
                <!--<button class="btn btn-flat btn-warning">Learn More</button>-->
            </footer>
        </div>
    </div>
</div>
