<div class="col-md-12">
    <div class="card" style="overflow: auto;">
        <div class="card-height-indicator"></div>
        <div class="card-content">
            <div class="card-body">
                <h2>Pattern: {{pattern}}</h2>
                <p>{{description}}</p>
                <p>{{count}} concepts</p>
                
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                	<ul class="nav navbar-nav">
                		<li id="tab-pattern-sort" class="dropdown">
                                <a href="" data-target="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">Sort by <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','conceptId','{{filterPreexist}}','{{filterNewCpt}}','{{filterModCpt}}')">Concept ID</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','term','{{filterPreexist}}','{{filterNewCpt}}','{{filterModCpt}}')">Term</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','matchDescription','{{filterPreexist}}','{{filterNewCpt}}','{{filterModCpt}}')">Explanation</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','semtag','{{filterPreexist}}','{{filterNewCpt}}','{{filterModCpt}}')">Semantic tag</a></li>
                                </ul>
                            </li>
                 		<li id="tab-pattern-preexist-filter" class="dropdown">
                                <a href="" data-target="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">Filter by Pre-existing: <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','true','{{filterNewCpt}}','{{filterModCpt}}')">Yes</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','false','{{filterNewCpt}}','{{filterModCpt}}')">No</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','','{{filterNewCpt}}','{{filterModCpt}}')">All</a></li>
                                </ul>
                            </li>
                 		<li id="tab-pattern-newcpt-filter" class="dropdown">
                                <a href="" data-target="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">Filter by New concept: <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','{{filterPreexist}}','true','{{filterModCpt}}')">Yes</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','{{filterPreexist}}','false','{{filterModCpt}}')">No</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','{{filterPreexist}}','','{{filterModCpt}}')">All</a></li>
                                </ul>
                            </li>
                 		<li id="tab-pattern-modcpt-filter" class="dropdown">
                                <a href="" data-target="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">Filter by Modified concept: <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','{{filterPreexist}}','{{filterNewCpt}}','true')">Yes</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','{{filterPreexist}}','{{filterNewCpt}}','false')">No</a></li>
                                    <li><a href="javascript:loadFullResult('{{file}}','{{pattern}}','{{description}}','{{sortBy}}','{{filterPreexist}}','{{filterNewCpt}}','')">All</a></li>
                                </ul>
                            </li>
                  	</ul>
                </div>
                <a class="btn btn-material-light-blue pull-right" style="margin: 0px;" href="javascript:loadAnalyticsResultsIndex();" role="button">Back to Patterns</a>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-1">ConceptId</th>
                                    <th class="col-md-4">Term</th>
                                    <th class="col-md-4">Explanation</th>
                                    <th class="col-md-3"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each results}}
                                    <tr class="small">
                                        <td class="">{{conceptId}}</td>
                                        <td class="">{{term}}</td>
                                        <td class="">{{matchDescription}}</td>
                                        <td class="">
                                        	pre-existing: {{#if preexisting}} yes {{else}} no{{/if}} <br>
                                        	{{#if matchObject }}
                                        		{{#if matchObject.Group1}}
    												def.status: {{matchObject.Group1.0.definitionStatus}}<br>	                                    		
	                                        	{{/if}}
                                        	{{/if}}
                                        	new concept: {{#if isNew}} yes {{else}} no{{/if}}<br>
                                        	modified concept: {{#if changed}} yes {{else}} no{{/if}}<br>
                                        	tag: {{semtag}}
                                    	</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <!--<td colspan="6">(*) Percentage of existing concepts in hierarchy which are Sufficiently Defined (SD). For the root concept the value includes all SNOMED CT.<br>-->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div><!-- /example -->
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <!--<button class="btn btn-flat">Share</button>-->
                <!--<button class="btn btn-flat btn-warning">Learn More</button>-->
            </footer>
        </div>
    </div>
</div>
