<div class="col-md-12">
    <div class="card">
        <div class="card-height-indicator"></div>
        <div class="card-content">
            <div class="card-body">
                <h2>Statistics on Concepts Inactivated During the Release</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th>Hierarchy</th>
                                    <th class="text-right">Inactivated Concepts</th>
                                    <th class="text-right">% of SCT Inactivated</th>
                                    <th class="text-right">% of All Inactivated</th>
                                    <th class="text-right">% as Ambiguous</th>
                                    <th class="text-right">% as Duplicate</th>
                                    <th class="text-right">% as Erroneous</th>
                                    <th class="text-right">% as Not Stated</th>
                                    <th class="text-right">% as Outdated</th>
                                    <th class="text-right">% as Moved</th>
                                    <th class="text-right">% as Limited</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each rows}}
                                    <tr class="small">
                                        <td>{{term}}</td>
                                        <td class="text-right">{{RetiredConcepts}}</td>
                                        <td class="text-right">{{PercentOfTotal}}%</td>
                                        <td class="text-right">{{PercentOfAllRetired}}%</td>
                                        <td class="text-right">{{PercentOfAmbiguous}}%</td>
                                        <td class="text-right">{{PercentOfDuplicated}}%</td>
                                        <td class="text-right">{{PercentOfErroneous}}%</td>
                                        <td class="text-right">{{PercentOfNotStated}}%</td>
                                        <td class="text-right">{{PercentOfOutdated}}%</td>
                                        <td class="text-right">{{PercentOfMoved}}%</td>
                                        <td class="text-right">{{PercentOfLimited}}%</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div><!-- /example -->
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <!--<button class="btn btn-flat">Share</button>-->
                <!--<button class="btn btn-flat btn-warning">Learn More</button>-->
            </footer>
        </div>
    </div>
</div>
